<% cache membership do %>
  <% members = membership.room.users.without(membership.user).presence || [ membership.user ] %>

  <%= link_to_room membership.room, 
                   id: dom_id(membership.room, :list),
                   class: [ "sidebar__direct-item", "unread": membership.unread? ],
                   data: {
                     sorted_list_target: "item",
                     sorted_list_priority: membership.unread? ? 0 : 1,
                     updated_at: (membership.unread_at || membership.room.updated_at).iso8601
                   } do %>
    <div class="sidebar__direct-avatar">
      <% if members.many? %>
        <div class="avatar__group">
          <% members.first(4).each do |member| %>
            <span class="avatar">
              <%= avatar_image_tag(member, size: 20, loading: :lazy) %>
            </span>
          <% end %>
        </div>
      <% else %>
        <span class="avatar">
          <%= avatar_image_tag(members.first, size: 32, loading: :lazy) %>
        </span>
      <% end %>
    </div>

    <span class="sidebar__direct-name">
      <span class="for-screen-reader">Ping with</span>
      <% if members.many? %>
        <%= members.map { |member| member.name.split(' ')[0, 3].map { |str| str[0].capitalize }.join }.to_sentence(two_words_connector: '+') %>
      <% else %>
        <%= members.first.name.split(' ')[0] %>
      <% end %>
    </span>
  <% end %>
<% end %>
