<% room = local_assigns[:room] || local_assigns[:membership].room %>
<% involvement = local_assigns[:membership]&.involvement || "mentions" %>
<% unread = local_assigns[:membership]&.unread? %>
<% has_notifications = local_assigns[:membership]&.has_unread_notifications? %>

<div id="<%= dom_id(room, dom_prefix(list_name, :list_node)) %>" data-sorted-list-target="item"
     data-name="<%= room.sortable_name %>" data-search-text="<%= room.sortable_name %>"
     data-updated-at="<%= room.last_active_at.iso8601 %>"
     data-sidebar-starred-rooms-target="room" data-involvement="<%= involvement %>"
     class="flex gap align-center justify-space-between">
    <%= link_to_room room,
                     class: [ "flex flex-item-grow room txt-nowrap overflow-ellipsis txt-lighter txt-undecorated position-relative", "unread": unread, "badge": has_notifications ],
                     style: "padding-block: calc(var(--block-space) / 4); gap: 0.5rem;" do %>
      <span class="overflow-ellipsis" style="flex: 0 1 auto;"><%= room_display_name(room) %></span>
      <span style="flex: 1 1 0; min-width: 1rem;" aria-hidden="true"></span>
      <%= local_datetime_tag room.last_active_at, style: :relative, class: "txt-x-small txt-primary txt-nowrap" %>
    <% end %>
    <%= turbo_frame_tag dom_id(room, dom_prefix(:sidebar, :involvement)), loading: :lazy, class: "txt-small" do %>
      <%= button_to_change_involvement(room, involvement, from_sidebar: true) %>
    <% end %>
</div>