<!DOCTYPE html>
<html>
<head>
    <title>Small Bets</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, interactive-widget=resizes-content">
    <meta name="view-transition" content="same-origin">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag.meta name: "turbo-prefetch", content: "true" %>

    <%= stylesheet_link_tag *Stylesheets.from("marketing"), "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

    <%= yield :head %>
</head>

<body>
    <main id="main-content">
        <%= yield %>
    </main>
</body>
</html>
